*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#nav{
    background-color: black;
    align-items: center;
    height: 150px;
    
}
#menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}
#menu li{
    list-style: none;
    padding: 2em;
    
}